*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
}
#root{
    height: 100vh;
}
.body_container{
    display: flex;
    flex-direction: column;
}
.navbar{
    background-color:rgba(137, 43, 226, 0.295);
    color:blueviolet;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1vw;
    gap: 1vw;
    height: 10vh;
}
.navbar h1{
    margin-right: auto;
    font-size: 2rem;

}
.navbar nav{
    display: flex;
    gap: 1vw;
}
nav button{
    padding: .5vh 1vw;
    font-size: 1rem;
    cursor: pointer;
    color: blueviolet;
    font-weight: bold;
    background-color: aliceblue;
    border-radius: .5vw;
}
nav button:hover{
    background-color: blueviolet;
    color: aliceblue;
}
.content{
    background-color: aliceblue;
    padding: 1vw;
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    gap: 2vh;
}
.content > *{
    box-shadow: 1vw 1vw 1vw #892be227;

} 
.create_post{
    background-color:#892be265;
    border-radius: 1vw;
    display: flex;
    flex-direction: column;
    gap: 1vh;
    width: 25vw;
    overflow: hidden;
}
.create_post h1{
    color: blueviolet;
    background-color: aliceblue;
    padding: 1vw;
    padding-left: 0;
    text-align: left;

}
.author_inp{
    padding: .5vw;
    padding-left: 1vw;

    border-radius: .5vw;
    border: none;
    background-color: aliceblue;
    margin: 1vw 1vw 1vw 0vw;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.new_post{
    background-color: aliceblue;
    padding: 1vw;
    border-radius: .5vw;
    margin: 1vw 1vw 1vw 0vw;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.create_post button{
    margin-left: auto;
    padding: 1vh 1vw;
    background-color: blueviolet;
    color: aliceblue;
    font-weight: bold;
    border: none;
    cursor: pointer;
    width: 100%;
}
.create_post button:hover{
    background-color: aliceblue;
    color: blueviolet;
}
.all_posts{
    display: flex;
    flex-direction: column;
    gap: 2vh;
    border-radius: 1vw;
}
.all_posts > h1{
    text-align: center;
    color: blueviolet;
}
.comments{
    display: flex;
    gap: 1vw;
    background-color: #892be265;
    padding: 1vw;
    flex-wrap: wrap;
    border-radius: 1vw;
    width: 95vw;
    margin: auto;
}
.comment{
    padding: 1vw;
    background-color: aliceblue;
    border-radius: 1vw;
    display: flex;
    flex-direction: column;
    gap: 1vh;
} 
.comment span{
    opacity: .5;
}